{% extends 'home.html' %}

{% block content %}

        <div class="container">
            <div class="col-md-12">
                <form  action="" method="POST">
                {% csrf_token %}
                <h2>學校</h2>
                    <select  class="sel"  name="school" style="font-size: 25px;">
                        <option value="1">國立中央大學</option>
                        <option value="2">國立陽明交通大學</option>
                        <option value="3">國立清華大學</option>
                        <option value="4">國立政治大學</option>
                    </select>
                <br>
                <h2>用途</h2>
                    <select class="sel" name="usage" style="font-size: 25px;">
                        <option value="運動">運動</option>
                        <option value="會議">會議</option>
                    </select>
                <br>
                <h2>選擇日期</h2>
                    <input class="form-control me-2" type="date" id="date_info_s"  aria-label="Search" name="date" Required>
                <br>
                <h2>選擇時間</h2>
                <br>
                <div style='float: left; margin-right:25px;'>
                        <p style='margin-right:15px;'>開始時間</p>
                        <select class="sel" name="start" style="font-size: 20px;">
                            <option value="8">8:00</option>
                            <option value="9">9:00</option>
                            <option value="10">10:00</option>
                            <option value="11">11:00</option>
                            <option value="12">12:00</option>
                            <option value="13">13:00</option>
                            <option value="14">14:00</option>
                            <option value="15">15:00</option>
                            <option value="16">16:00</option>
                        </select>
                </div>
                <div>
                        <p style='margin-right:15px;'>結束時間</p>
                        <select class="sel" name="end" style="font-size: 20px;">
                            <option value="9">9:00</option>
                            <option value="10">10:00</option>
                            <option value="11">11:00</option>
                            <option value="12">12:00</option>
                            <option value="13">13:00</option>
                            <option value="14">14:00</option>
                            <option value="15">15:00</option>
                            <option value="16">16:00</option>
                            <option value="17">17:00</option>
                        </select>
                   
                </div>
                <br>
                <input class="btn btn-success" type="submit" value="搜尋" />
                {% comment %} <a class='btn' href='search_list.html' type="submit">Search</a> {% endcomment %}
                </form>
            </div>
        </div>
        <div class="container">

            {% for obj in condition_query_set %}
                {% ifchanged %}
                    <h3>{{obj.site_id.name}}</h3>
                    {{obj.site_id.usage}}<br/>
                    {{obj.site_id.price}}<br/>
                    {{obj.site_id.rule}}<br/>
                {% endifchanged %}
            
            
                {{obj.id}}<br/>
                {{obj.date}}<br/>
                {{obj.start}}<br/>
                {{obj.end}}<br/>

            
            {% endfor %}
          
        </div>

{% endblock  %}